@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello from view</title>
</head>
<body>
    <h1>Twitter Home</h1>
    <form action="Home" method="post">
        Login    :<input name="login" type="text" placeholder="Login" /> <br>
        Password :<input name="password" type="password" placeholder="password" /> <br>
        <button type="submit">Login</button>
    </form>

</body>
</html>