@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <style>
      .img-container {
        text-align: center;
        display: block;
      }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Twitter App</title>
</head>
<body>
            <h1 style="text-align: center" >Twitter</h1>
            <h2 style="text-align: center" >IT is like main page of my appliaction</h2>
            <h3 style="text-align: center">This app was created by this guy</h3>
            
    <br>
        <span class="img-container">
            <img  src="https://sun9-35.userapi.com/c853520/v853520908/860de/_XouSQ8C0OQ.jpg" alt="Smiley face" height="500" width="500" style="grid-column-end"/>
        </span>
    <br>

    <br>
            <h2 style="text-align: center">Me and my homies wish you all the bests,happy new year</h2>



    <AuthorizeView Roles="User">
        <p style="text-align: center" >1f Y0u can 0nly see th!s 1t mean5 y0u 0wn me 100%
       <!--if you're in the User role.-->
        </p>
    </AuthorizeView>

</body>
</html>